.sectionContainer {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    text-align: center;
}

.textYellow {
    font-weight: 500;
    color: #C9A555;
}

.discoverImage {
    max-width: 100%;
}

@media (max-width: 900px) {
    .sectionContainer {
      margin-top: 5.5vh;
    }
  }
  