@font-face {
  font-family: "Integral CF Regular";
  src: url("../assets/fonts/Font_integral-cf//IntegralCF-Regular.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Integral CF Medium";
  src: url("../assets/fonts/Font_integral-cf//IntegralCF-Medium.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Integral CF Bold";
  src: url("../assets/fonts/Font_integral-cf//IntegralCF-Bold.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans_10pt-Regular.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans_7pt_Condensed-Bold.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans Extra-Bold";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans_7pt_Condensed-ExtraBold.ttf")
    format("truetype");
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  font-family: "Nunito Sans Regular", sans-serif;
  padding: 2% 5%;
}

h1, h2, h3 {
  font-family: "Integral CF Regular";
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 28px;
}

h4 {
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 18px;
}

h5 {
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 16px;
}
p {
  font-size: 14px;
}

span {
  font-family: "Nunito Sans Extra-Bold", sans-serif;
}

button {
  font-family: "Nunito Sans Extra-Bold", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: 400px;
  max-width: 100%;
}

@media (max-width: 900px) {
  body {
    padding: 4% 2%;
  }
}
