.mainContainer {
  height: calc(100vh - 17px);
  width: 100%;
}

.background1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    URL("../assets/images/backgrounds/slide1.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center top 150px;
}

.background2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    URL("../assets/images/backgrounds/slide2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiperContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .background1 {
    background-size: 150%;
    background-position: 50% 190px;
  }
  .background2 {
    background-size: 100%;
    background-position: center top;
  }
}
