.stepper {
  display: flex;
  width: 100%;
  gap: 0.7rem;
  padding: 0 1rem;
}

.step {
  flex: 1;
  height: 0.45rem;
  background-color: #aaaaaa;
  border-radius: 40px;
}

.stepActive {
  background-color: #64c883;
}

@media (max-width: 900px) {
  .stepper {
    gap: 0.5rem;
  }
}
