.succesContiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 5% auto;
  width: 50%;
  min-width: 300px;
  min-height: 50vh;
  text-align: center;
  /* border: 1px solid white; */
}

.congratulationsText {
  color: #64c883;
  font-size: 24px;
  font-family: "Integral CF Regular";
}

.welcomeText {
  font-size: 18px;
}

.paragraph {
    font-size: 16px;
}

@media (max-width: 768px) {
  .succesContiner {
    margin: 1% auto;
    min-height: 85vh;
  }
}
