.buttonContainer {
  display: flex;
  position: absolute;
  top: calc(90%);
  z-index: 99;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.swiperButt {
  background-color: transparent;
  color: #64c883;
  width: 30%;
  padding: 15px 20px;
  border: 1px solid #64c883;
  border-radius: 10px;
  cursor: pointer;
}

.swiperButt:hover {
  background: linear-gradient(80deg, transparent, rgba(0, 0, 0, 0.4)), #64c883;
  color: #f3f3f4;
  border: none;
}

.swiperButt:active {
  background: linear-gradient(80deg, rgba(0, 0, 0, 0.4), transparent), #64c883;
}

@media (max-width: 800px) {
  .buttonContainer {
    top: calc(80%);
  }
  .swiperButt {
    width: 90%;
  }
}
