.sectionContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  text-align: center;
  background-image: URL('../assets/images/backgrounds/slide1.svg');
}
.header {
  margin-bottom: 0.5rem;
}
.subHeader {
  margin-top: 1rem;
}
.textGreen {
  color: #64c883;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .sectionContainer {
    margin-top: 5.5vh;
  }
}
